@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


