@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center > h2 {
  padding: 6px;
}
div > h2 {
  margin-top: 6rem;
  font-size: 2.25rem;
  text-align: center;

  background-color: orange;
  margin-bottom: 10px;
  border-radius: 20px 10px;
  width: 19.4rem;
}
.heading {
  text-align: center;
  font-size: 30px;
  padding: 20px 0px;
  background-color: #5B61ED;
  color: aliceblue;
  font-weight: 900;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginForm {
  /* background-color: aqua; */
  height: 20rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5B61ED;
  border-radius: 29px 10px;
}
.loginForm > input {
  padding: 3px;
  height: 1.6rem;
  margin: 5px 0px;
  width: 18rem;
  border-radius: 4px;
}

.loginForm > button {
  width: 6rem;
  margin-top: 10px;
  height: 1.5rem;
  border-radius: 7px;
  border: none;
  background-color: orange;
  font-weight: bold;
}
button:hover {
  background-color: rgb(207, 135, 0);
}
header {
  background-color: rgb(135, 3, 207);
  color: aliceblue;
  font-weight: 550;
  display: flex;
  align-items: center;
  padding: 6px;
  gap: 12rem;
  /* justify-content: center; */
  height: 2.5rem;
}
header > h4 {
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 184, 53);
}

header > ul {
  margin-left: 5.4rem;
  display: flex;
  justify-content: flex-start;
  gap: 3rem;
  list-style: none;
}
.info {
  text-align: center;
  width: 70vw;
  margin: 3rem 14vw;
  border: 2px solid purple;
}

.imginfo > div {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: red;
  width: 30vw;
}

.imginfo {
  /* margin: 0px 15rem; */
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  color: rgb(0, 5, 9);
  font-size: large;
  font-weight: bold;
  /* width: 70vw; */
}
.imginfo > div:nth-child(even) {
  background-color: purple;
  border: 3px solid orange;
}
